.content {
  width: 100%;
  background-image: url('../assets/background5.jpg');
  background-color: black;
  color: white;
  background-position: 95% 50%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding: solid pink 1px;
  display: block;
  margin-top: 13%;
  }
