.content {
  background-image: url(/static/media/background5.48633b02.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  min-height: 500px;
  height: 100%;
  text-align: center;
  }
